In [1]:
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px

In [2]:
#To check on package version
print(pd.__version__)
#print(go.__version__)
#print(px.__version__)

1.3.4

In [3]:
df_mas_cases = pd.read_csv('https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/cases_malaysia.csv')
df_mas_deaths = pd.read_csv('https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/deaths_malaysia.csv')
df_mas_vaksin = pd.read_csv('https://raw.githubusercontent.com/CITF-Malaysia/citf-public/main/vaccination/vax_malaysia.csv')
df_mas_pop = pd.read_csv('https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/static/population.csv')

In [4]:
df_date_end = df_mas_cases.tail(1)
print('Updated Date:', df_date_end.at[df_date_end.index[0],'date'])

Updated Date: 2022-05-22

In [5]:
df_mas = df_mas_cases.append(df_mas_deaths)
df_mas = df_mas.append(df_mas_vaksin)

In [6]:
def getYear(s):
  return s.split("-")[0]

def getMonth(s):
  return s.split("-")[1]

df_mas['Year']= df_mas['date'].apply(lambda x: getYear(x))
df_mas['Month']= df_mas['date'].apply(lambda x: getMonth(x))

df_mas = df_mas.groupby('Year').sum().reset_index()

In [7]:
#df_mas.columns

In [8]:
print(df_mas['cases_new'].sum())
print(df_mas['cases_recovered'].sum())
print(df_mas['deaths_new'].sum())
print(df_mas['daily_full'].sum())
print((df_mas['daily_full'].sum()/df_mas_pop.at[df_mas_pop.index[0],'pop'])*100)

4491320.0
4429166.0
35643.0
27001724.0
82.68255295173178

In [9]:
#df_mas_vaksin.tail()

In [10]:
new_cases = df_mas_cases.tail(1)
new_recover = df_mas_cases.tail(1)
new_deaths = df_mas_deaths.tail(1)
new_vaksin = df_mas_vaksin.tail(1)

In [11]:
print('New Cases:', new_cases.at[new_cases.index[0],'cases_new'])
print('New Recover:', new_recover.at[new_recover.index[0],'cases_recovered'])
print('New Deaths:', new_deaths.at[new_deaths.index[0],'deaths_new'])
print('New Vaccianted:', new_vaksin.at[new_vaksin.index[0],'daily'])

New Cases: 1817
New Recover: 3389
New Deaths: 2
New Vaccianted: 13706

In [39]:
dfworld = pd.read_csv('https://raw.githubusercontent.com/datasets/covid-19/main/data/time-series-19-covid-combined.csv')
dfworld.rename(columns={'Country/Region':'Country'},inplace=True)
dfworld.groupby('Country').sum()

                      Confirmed   Recovered   Deaths
Country
Afghanistan            66031705  18289880.0  2874099
Albania                82385140  22652652.0  1320658
Algeria                94695072  25670233.0  2651996
Andorra                 9598486   3085649.0    75889
Angola                 26425596   5895800.0   605294
...                         ...         ...      ...
West Bank and Gaza    187339576  57608773.0  1893801
Winter Olympics 2022      39517         0.0        0
Yemen                   3987738    772497.0   810844
Zambia                 87545852  21852796.0  1318781
Zimbabwe               56346213   8779035.0  1633790

[198 rows x 3 columns]

In [42]:
dfworld2 = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/latest/owid-covid-latest.csv')
dfworld2 = dfworld2[['last_updated_date','continent', 'location','total_cases',
                     'total_deaths','total_vaccinations','people_fully_vaccinated',
                     'population' ]]
dfworld2=dfworld2.groupby('continent').sum().reset_index()
dfworld2['vaccination_percentage'] = (dfworld2['people_fully_vaccinated']/dfworld2['population'])*100
dfworld2.sort_values('total_cases',ascending=False)

,continent,total_cases,total_deaths,total_vaccinations,people_fully_vaccinated,population,vaccination_percentage
2,Europe,197330497.0,1838138.0,1.239464e+09,4.734425e+08,7.506718e+08,63.069171
1,Asia,152256013.0,1434364.0,7.999944e+09,3.234786e+09,4.672385e+09,69.232014
3,North America,98486374.0,1441804.0,9.943295e+08,3.741534e+08,5.957673e+08,62.801933
5,South America,57297859.0,1297367.0,8.167463e+08,3.098141e+08,4.339537e+08,71.393350
0,Africa,11841251.0,253730.0,3.751538e+08,1.675739e+08,1.371693e+09,12.216570
4,Oceania,8396922.0,11823.0,7.146094e+07,2.687230e+07,4.334682e+07,61.993716

In [41]:
dfworld1 = pd.read_csv('https://raw.githubusercontent.com/datasets/covid-19/main/data/time-series-19-covid-combined.csv')
dfworld1.rename(columns={'Country/Region':'Country'},inplace=True)
dfworld1 = dfworld1.loc[dfworld1['Country'].isin(['Malaysia','Singapore','Thailand','Indonesia','Philippines','Cambodia','Laos','Vietnam',
'Myanmar','Brunei'])]
dfworld1.groupby('Country').sum().reset_index()

       Country   Confirmed    Recovered    Deaths
0       Brunei     8491163      82751.0     24955
1     Cambodia    34442893    3660787.0    745369
2    Indonesia  1597829180  363942501.0  48536553
3         Laos    22264558     167935.0     76269
4     Malaysia   805303639   94234855.0   7846183
5  Philippines  1006132001  232764917.0  16789466
6    Singapore   121432134   24305668.0    174937
7     Thailand   590243063    5909547.0   5175930
8      Vietnam   643038697    1261448.0   7106939